
/*Conf. de encabezado*/
header{
	padding: 15px 0;
	margin: 0;
	color:#fff;
	border-bottom: solid #333 1px;
	background: #333;
}
.logo{
	width: 80px;
	height: 80px;
}
nav ul{
	list-style: none;
	padding-top: 34px;
	margin: 0 -15px 0 0;		/*Ajustes para mover la lista completa*/
	float: right;
	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
	white-space: nowrap;
}
nav li{
	position: relative;
	bottom: 50px;
	right: 10px;			/*Ajustes para cada elemento de la lista*/
	float: left;
	margin: 0;
	padding: 0;
}
nav li::hover a{
	background: #FFFFFF;  /* EL selector hover es usado para seleccion elementosc cuando se pone el mouse sobre x elemento*/.
}
nav a{
	text-decoration: none;
	padding: 10px 15px;
	color:#EEEEEE;
	text-shadow:2px 2px 4px #000000;
}
nav a:hover{
	color:#FFFFFF;
}

/*Configuracion de row  para Titulo*/
.ultmov{
	font-size:24px;
	font-family: sans-serif;
	display: inline-block;
}

/* Configuracion de row "Ultimos Vistos"*/

.principales{
	height: 250px;
	width: 250px;
	padding: 5px;
	border: 1px ridge gray;
	margin:20px;
}
.capitulosp{
	display: inline-block;  /*checar posicion dentro de esto*/
	margin-left: 30px;
	border: 1px solid black;
	padding: 10px 20px;
}
.azul{
	background-color: #CEF6F5;
}	
	
}
.capitulop{
	border: 1px solid black;
	text-align: center;
	text-decoration: none;
	font-family: sans-serif;
	font-weight: bold;
	margin:0 80px;
}